[submodule "lotus-imagecrop"]
	path = lotus-imagecrop
	url = https://github.com/bemineni/lotus-imagecrop.git
[submodule "lotus-select"]
	path = lotus-select
	url = https://github.com/bemineni/lotus-select.git
[submodule "lotus-naga"]
	path = lotus-naga
	url = https://github.com/bemineni/lotus-naga.git
